data/processed/*.geojson
outputs/maps/dynamic/*.hmtl
data/imagery/nakivale_sample/*
scripts/search_chip_maxar.py
data/external/hotosm_populated_places.geojson
data/external/hotosm_waterways.geojson
.env
